body {
  background-color: beige;
}
form {
  background-color: cornflowerblue;
  position:absolute;
  top: 50%;
  left: 50%;
  padding: 100px;
  border-radius: 8%;
  box-shadow: 2px 1px 5px -1px darkred;
  transform: translate(-50%, -50%);
}